
<section class="contenedor">
    <div id="galeria">
        <h3>Nuestros trabajos</h3>
        <div id="productos">

<!--             <a href="ollas.html">
            </a> -->
                <div class="tarjeta" id="img-1">
                    <h2>Ollas</h2>
                </div>
            <a href="parrillas.html"> <!-- parrillas.html -->
                <div class="tarjeta" id="img-2">
                    <h2>Parillas</h2>
                </div>
            </a>

            <div class="tarjeta" id="img-3">
                <h2>Vasos</h2>
            </div>
        </div>
    </div>
</section>